.loading {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #F3F2F1;
    transition: opacity 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.loading.hidden {
    opacity: 0;
}

.loading p {
    font-family: "PoorStory";
    font-size: 30px;
}

.loading p:first-child {
    -webkit-animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}