@font-face {
    src: url("../fonts/IndieFlower.ttf");
    font-family: "IndieFlower";
}
@font-face {
    src: url("../fonts/PoorStory-Regular.ttf");
    font-family: "PoorStory";
}

body {
    user-select: none;
    overflow: hidden;
    background: #F3F2F1;
}

.bgDots1 {
    background-image: url("../img/other/dots_bg.png");
    width: 500px;
    height: 500px;
    position: fixed;
    top:10%;
    right:10%;
    z-index:-1;
}


.bgDots2 {
    background-image: url("../img/other/dots_bg.png");
    width: 500px;
    height: 500px;
    position: fixed;
    bottom:10%;
    left:10%;
    z-index:-1;
}

.leaf {
    width: 250px;
    position: fixed;
    top: 50%;
}

.leafL {
    left:10%;
    -webkit-animation: waveL 5s infinite;
    transform: translateY(-50%);
}

.leafR {
    right:10%;
    -webkit-animation: waveR 5s infinite;
    transform: translateY(-50%);
    animation-delay: 2s;

}

@-webkit-keyframes waveL {
    0% {
            transform: translateY(-50%) rotate(-5deg);
    }
    50% {
            transform: translateY(-50%) rotate(5deg);
    }
    100% {
            transform: translateY(-50%) rotate(-5deg);
    }
}
@-webkit-keyframes waveR {
    0% {
            transform: translateY(-50%) rotate(-5deg);
    }
    50% {
            transform: translateY(-50%) rotate(5deg);
    }
    100% {
            transform: translateY(-50%) rotate(-5deg);
    }
}

.audioIcon {
    position: fixed;
    top: 5%;
    right:5%;
    width: 70px;
    cursor:pointer;
    opacity: 0.73;
    z-index: 5;
}
